* {
  box-sizing: border-box;

body {
  margin-top: 0px;
  text-align: center;
  font-family: serif;
}

header {
  
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/back_im.jpeg);
  height: 100px;

}


.static {
text-align: center;
position: relative;
top: 10px;
color: black;
font-family: serif;
font-weight: bold;
font-size: 300%;
padding-left: 300px;
border: solid white 5px;
margin-top: 0px;
}

h2 { 
  font-family: serif;
  text-align: center;
  font-weight: bold !important;
  font-size: 200% !important;

}

h3 {font-family: serif;
}


a:link, :visited {
  color: #0275d8; 
  text-decoration: none;}

a:hover {
  text-decoration: underline;
}

nav {

  font-family: serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url(../img/back_im_2.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
  font-weight: 900;
}

/*Buttons della sidenav dell'index*/

li.home  {
padding: 10px 10px;
margin-bottom: 50px;
margin-top: 50px;
}

li.dropdown  {
position: relative;
padding: 10px 10px;
margin-bottom: 50px;
margin-top: 50px;
}

a.button {
  display: block;
  background-color: white;
  color: black;
  padding: 15px 10px 10px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  font-size: medium;
  border: none;
  font-family: serif;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}
 
a.button:hover {background-color:lightblue;}

button {
  margin-top: 20px;
  display: block;
  background-color: white;
  color: black;
  padding: 0;
  font-size: 16px;
  border: none;
  font-family: serif;
  width: 100px;
  height: 50px;
  
}
  
/*il Dropdown*/

.dropdown-content {
  display: none;
  background-color: lightblue;
  width: 200px;
  margin: 0; 
  padding: 10px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  z-index: 1;
  right: auto;       
  left: auto;
}

.dropdown-content a {
  color: black; 
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

li.dropdown:hover .dropdown-content {display: block;}

/*Il progetto*/
div.accordion {
 height: 550px; 
 text-align: center; 
 margin-left: -200px; 
 float: right; 
 margin-top:30px; 
 margin-right: 50px
}

/**Carosello**/

.container {
  display: flex; /*nuovo flusso*/
  margin-top: 30px;
  margin-bottom: 12px;
  cursor: pointer;
} 

div.carousel {
  margin-left:160px;
  margin-right:160px;
  margin-top: 0px;
  padding: 5px;
  border: 40px solid #555;
  position: relative;

}

.carousel-inner {
  height: 500px;
  background-color: lightgrey;
} 

.carousel-item img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

button.carousel-control-prev {
  position: absolute;
  top: 50%;

}

button.carousel-control-next {
  position: absolute;
  top: 50%;
}


/*Effetto overlay opacity nel carosello*/

.overlay {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease; /*lento, veloce, lento*/
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-item:hover .overlay {
  opacity: 0.5;
}

.carousel-item:hover .middle {
  opacity: 1;
}

.text {
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

/*Timeline*/
.timeline {
  margin-left:200px;
  padding:100px 16px;
  
  }


 /*percorsi tematici*/ 

.percorso_tematico {
  margin-left:200px;
  padding:50px;
  background-color: lightblue;
  
}

.image-container_2 {
  width: 400px;
  height: 500px;
  border: none;
  margin-bottom: 25px;
}

.image-container_2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}


.card-title  {padding-top: 20px;}


/*immagini dei modal*/

.image-container {
  width: 300px;
  height: 350px;
  border: none;
  margin-bottom: 25px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: solid grey 5px;
}


/*footer */
footer {
 background-color: lightgrey;
 padding:16px 16px;
 height:250px;
 background-image: url(../img/back_im.jpeg);
 margin-left: 200px;
 font-family: serif;
}

.end {
  margin-left: 200px;
  text-align: center;
  font-family: serif;
  margin-top: 10px;
}

/*CSS catalogo*/


ul {

  list-style-type: none;
  padding-inline-start: 0px; 
  gap: 20px;
  display: flex;
  flex-direction: column;
  
} /**per pagination e per footer*/

/*Breadcrumbs*/
section.briciole
{
  height: 50px; 
  width: 300px;
  margin-left: 160px;
  margin-top: 20px;
  font-family: serif;

}


ul.breadcrumb {
  
  margin-left: 0;
  display: inline !important; /**sovrascrivere display:flex per ul*/
  list-style: none;  
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  
}
ul.breadcrumb li+li:before {
  
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


section.contenitore {
  display: flex;
  min-height: 100vh; /**viewport height**/
  margin-left: 100px;
  margin-right: 160px; 

}

div.cards  {
 margin-left: 100px; 

}

.row {
 display: flex;
 flex-wrap: wrap; /**disposizione uno accanto all'altro**/
 gap: 55px;
}

div.column {
  float: left; /*l'elemento a sinistra, e l'el. dopo va a dex*/
  width: 20%;
  padding: 0 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 280px;
  height: 100%;
  text-align: center;
  background-color: #f1f1f1;
  border: solid saddlebrown 5px;
  border-radius: 8px;
}

.modal-css {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.6);
  z-index: 2;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none; /** fa funzionare ciò che sta sotto **/
  transition: opacity 0.3s linear; /* Effetto dissolvenza */
}

.modal-css:target {
  opacity: 1;
  pointer-events: auto; /* fa funzionare ciò che sta sopra */
}

/* Il contenitore dell'immagine ingrandita */
.modal-contenuto {
  position: relative;
  max-width: 85%;
  max-height: 85%;
}

.modal-contenuto img {
  max-width: 100%;
  max-height: 700px; 
  display: block;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  margin-bottom: 10px;
}

.modal-chiudi-btn {
  position: absolute;
  top: -40px;
  right: 0;
  color: #fff;
  font-size: 35px;
  text-decoration: none;
}
.modal-chiudi-btn:hover {color: lightgrey;}
 

/*Aside*/
aside.col_dx { 
 width: 190px;
 height: 100%; 
  float: right;
  font-style: serif;
  background-color: white;
  background-image: url(../img/back_im_3.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
  margin: 0;
  margin-top: -70px;
  padding: 0;
  color: white;  
}

ul.aside {

  list-style-type: none;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

button.aside  {
  cursor: pointer;
  border-radius: 15px;
  margin-left: 20px;

}

button.aside:hover {
  background-color: lightblue;
}

/**Navigazione nel catalogo**/
label.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px; 
  margin: 10px 10px;
  text-align: left;
  color: black;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

div.dropdown:hover div.dropdown-content {display: block;}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;

}

/* On mouse-over, add a grey background color - tilde:dopo */
label.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
label.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: ""; /**creare spazio vuoto**/
  position: absolute;
  display: none;
}

/*.checkmark:after diventa il quadratino con spunta*/

/* Show the checkmark when checked */
label.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label.container .checkmark:after {
  margin-left: 7px;
  margin-top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.btn_group  {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: -15px;
}

.btn_group button {
  display: inline;
  padding: 15px 15px;
  font-size: medium;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color:black;
  background-color: white;
  border: none;
  border-radius: 15px;

}

/* Add a background color on hover */
.btn_group button:hover {
  background-color: lightblue;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  list-style: none;
  }

.pagination li a {
  display: block; /* let links fill the list item */
  padding: 8px 12px;
  border: 1px solid gray;
  color: black;
  margin: 0 4px;
  border-radius: 5px;
}
.pagination li a:hover {
  background-color: lightblue; 
}

.pagination li a.active {
  background-color: lightblue;
  color: black;
}


footer.s_boot {
 background-color: lightgrey;
 height:250px;
 background-image: url(../img/back_im.jpeg);

}

.s_boot ul li {
font-size: small;
text-align: left;
  
}

.AB {
cursor: pointer;
padding: 6px 12px;
border-radius: 5px;
color: #212529; 
background-color: #f8f9fa;
border: 1px solid #f8f9fa;
text-decoration: none;

}
.AB:hover {
  color: #212529;
  background-color: lightblue;
  border-color: #cdd3d8;
  }

/*CSS ITEM1*/

.container_item {
  display: flex;
  flex-direction: row;       
  align-items: center;       
  justify-content: center;   
  gap: 200px;                
  margin: 30px auto;
  margin-left: 50px;
  flex-wrap: wrap;           
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.image-container_item {
  border: none;
  margin-bottom: 25px;
}

div.container2 {
  padding: 0px 10px;
}

.image-container_item img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}


div.flip-card {

  background-color: transparent;
  width: 400px;
  height: 550px;
  margin-left: 160px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  background-image: url(../img/images.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/*Tabella con i metadati ITM1*/
table.tab_item {
  margin-left: 200px;
  margin-right: 50px;
  font-family: serif;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid grey;
  cursor: default;
  font-size: 20px;
}


table.tab_item td, th {
  border: 1px solid #555;
  text-align: left;
  padding: 10px;
}

table.tab_item tr:nth-child(even) {
  background-color: lightblue;
}

section.opere_simili{
  margin-bottom: 50px;
  margin-top: 50px;
}

/**CSS ITEM2**/
div.container_item2 {
  display: flex;
  margin: 30px;
  margin-left: 200px;
  cursor: pointer;   
  justify-content: center;   
  gap: 80px;                       
  font-size: 20px;
}

.image-container_item2 {
  border: none;
  height: 350px;
  margin-bottom: 25px;
}

.image-container_item2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



/**CSS ITEM3**/

.card_item3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  background-color: #f1f1f1;
  border: solid saddlebrown 5px;
  border-radius: 8px;
}

.video_itm3 {
  margin-right: 100px; 
  margin-left: 300px; 
  margin-top: 100px;

}


/**CSS ITEM4**/

.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/*CSS dei metadati generali*/

table {
  margin-left: 160px;
  margin-right: 140px;
  font-family: serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightblue;
}

.metadati  {
  margin-left: 60px;
  margin-right: 180px;
  margin-bottom: 30px;
}

.icon {
  margin-top: 30px;
  margin-left: 200px;
}

.metadati table {
  margin-top: 20px;
  margin-bottom: 20px;
}
